In [33]:
import pandas as pd

In [34]:
beach_rows = pd.read_csv('data/Beach_Lab_Data.csv')
beach_rows = beach_rows.loc[~beach_rows['Beach'].isnull()]
beach_rows.head()

,Culture Test ID,Culture Sample 1 Timestamp,Beach,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp,DNA Test ID,DNA Sample Timestamp,DNA Sample 1 Reading,DNA Sample 2 Reading,DNA Reading Mean,Latitude,Longitude,Location
376,103919,05/29/2007 12:00:00 AM,South Shore,16.0,6.3,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.7689,-87.5636,"(41.7689, -87.5636)"
377,110945,06/18/2014 12:00:00 AM,Howard,4.0,4.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0188,-87.6663,"(42.0188, -87.6663)"
378,91005,07/15/2009 12:00:00 AM,12th Street,167.0,178.9,172.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.8638,-87.6083,"(41.8638, -87.6083)"
379,95216,08/21/2015 12:00:00 AM,Juneway,3.0,1.0,1.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,42.0224,-87.6674,"(42.0224, -87.6674)"
380,90110,06/21/2011 12:00:00 AM,Calumet,3.0,2.0,2.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.7142,-87.5299,"(41.7142, -87.5299)"

In [35]:
culture_readings = beach_rows[['Beach', 'Culture Test ID', 'Culture Sample 1 Timestamp', 'Culture Sample 1 Reading', 'Culture Sample 2 Reading', 'Culture Reading Mean',
                               'Culture Note', 'Culture Sample Interval', 'Culture Sample 2 Timestamp']]
culture_readings.head()

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Note,Culture Sample Interval,Culture Sample 2 Timestamp
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN,NaN
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN,NaN
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN,NaN
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN,NaN
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,NaN

In [36]:
culture_readings.dtypes

Beach                          object
Culture Test ID                 int64
Culture Sample 1 Timestamp     object
Culture Sample 1 Reading      float64
Culture Sample 2 Reading      float64
Culture Reading Mean          float64
Culture Note                  float64
Culture Sample Interval       float64
Culture Sample 2 Timestamp     object
dtype: object

In [37]:
culture_readings['Culture Note'].unique()

array([ nan])

In [38]:
del culture_readings['Culture Note']
culture_readings.head()

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN

In [39]:
culture_readings['Culture Sample 1 Timestamp'] = pd.to_datetime(culture_readings['Culture Sample 1 Timestamp'])
culture_readings['Culture Sample 2 Timestamp'] = pd.to_datetime(culture_readings['Culture Sample 2 Timestamp'])
culture_readings.head()

OutOfBoundsDatetime: Out of bounds nanosecond timestamp: 16-09-24 10:00:00

In [40]:
culture_readings.sort_values('Culture Sample 1 Timestamp', ascending=False)

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp
16993,Humboldt,114147,10/01/0016 10:00:00 AM,1.0,1.0,1.0,1.0,10/01/0016 10:01:00 AM
14309,Humboldt,114146,09/30/0016 10:05:00 AM,228.2,57.6,114.6,1.0,09/30/0016 10:06:00 AM
15783,Humboldt,114145,09/29/0016 10:00:00 AM,155.3,131.4,142.9,1.0,09/29/0016 10:01:00 AM
13601,Humboldt,114144,09/28/0016 10:00:00 AM,1.0,1.0,1.0,1.0,09/28/0016 10:01:00 AM
15953,Humboldt,114143,09/25/0016 10:00:00 AM,2.0,1.0,1.4,1.0,09/25/0016 10:01:00 AM
13432,Humboldt,114142,09/24/0016 10:00:00 AM,1.0,1.0,1.0,1.0,09/24/0016 10:01:00 AM
17204,Humboldt,114140,09/22/0016 10:00:00 AM,1.0,1.0,1.0,1.0,09/22/0016 10:01:00 AM
13885,Humboldt,114139,09/21/0016 10:00:00 AM,1.0,19.7,4.4,1.0,09/21/0016 10:01:00 AM
13979,Humboldt,114141,09/20/2016 10:00:00 AM,1.0,1.0,1.0,1.0,09/20/2016 10:01:00 AM
1067,Rainbow,94373,09/18/2015 12:00:00 AM,13.0,19.0,15.7,NaN,NaN
681,63rd Street,94375,09/18/2015 12:00:00 AM,1986.0,1300.0,1606.8,NaN,NaN
11005,Oak Street,94381,09/18/2015 12:00:00 AM,11.0,8.0,9.4,NaN,NaN
1243,Foster,94385,09/18/2015 12:00:00 AM,365.0,308.0,335.3,NaN,NaN
8533,Leone,94388,09/18/2015 12:00:00 AM,96.0,107.0,101.4,NaN,NaN
7265,Ohio Street,94380,09/18/2015 12:00:00 AM,54.0,38.0,45.3,NaN,NaN
3235,Osterman,94386,09/18/2015 12:00:00 AM,44.0,47.0,45.5,NaN,NaN
7300,Montrose,94384,09/18/2015 12:00:00 AM,204.0,292.0,244.1,NaN,NaN
6678,Calumet,94372,09/18/2015 12:00:00 AM,387.0,866.0,578.9,NaN,NaN
15753,Humboldt,114138,09/18/0016 09:55:00 AM,1.0,1.0,1.0,1.0,09/18/0016 09:56:00 AM
16436,Humboldt,114137,09/17/0016 09:55:00 AM,7.4,1.0,2.7,1.0,09/17/0016 09:56:00 AM
8862,Ohio Street,94337,09/16/2015 12:00:00 AM,1.0,1.0,1.0,NaN,NaN
11544,Calumet,94329,09/16/2015 12:00:00 AM,5.0,4.0,4.5,NaN,NaN
10025,Foster,94342,09/16/2015 12:00:00 AM,1.0,1.0,1.0,NaN,NaN
9566,63rd Street,94332,09/16/2015 12:00:00 AM,20.0,12.0,15.5,NaN,NaN
12713,Osterman,94343,09/16/2015 12:00:00 AM,13.0,9.0,10.8,NaN,NaN
1819,Montrose,94341,09/16/2015 12:00:00 AM,35.0,35.0,35.0,NaN,NaN
5572,Leone,94345,09/16/2015 12:00:00 AM,27.0,25.0,26.0,NaN,NaN
3477,Rainbow,94330,09/16/2015 12:00:00 AM,16.0,21.0,18.3,NaN,NaN
12708,Osterman,95962,09/16/2014 12:00:00 AM,16.0,16.0,16.0,NaN,NaN
8423,Ohio Street,95955,09/16/2014 12:00:00 AM,9.0,5.0,6.7,NaN,NaN
...,...,...,...,...,...,...,...,...
8773,Juneway,94621,05/19/2015 12:00:00 AM,6.0,2.0,3.5,NaN,NaN
8559,South Shore,94602,05/19/2015 12:00:00 AM,291.0,816.0,487.3,NaN,NaN
1952,Calumet,94600,05/19/2015 12:00:00 AM,461.0,308.0,376.8,NaN,NaN
7741,57th Street,94604,05/19/2015 12:00:00 AM,59.0,38.0,47.3,NaN,NaN
10411,Foster,94614,05/19/2015 12:00:00 AM,3.0,3.0,3.0,NaN,NaN
5918,Osterman,94615,05/19/2015 12:00:00 AM,4.0,2.0,2.8,NaN,NaN
12947,Rainbow,94601,05/19/2015 12:00:00 AM,61.0,99.0,77.7,NaN,NaN
17733,Marion Mahony Griffin,94618,05/19/2015 12:00:00 AM,12.0,20.0,15.5,NaN,NaN
11035,Oak Street,94609,05/19/2015 12:00:00 AM,1.0,1.0,1.0,NaN,NaN
11366,Ohio Street,94608,05/19/2015 12:00:00 AM,236.0,579.0,369.7,NaN,NaN
6441,63rd Street,94603,05/19/2015 12:00:00 AM,17.0,228.0,62.3,NaN,NaN
16611,Montrose Dog,94612,05/19/2015 12:00:00 AM,1.0,1.0,1.0,NaN,NaN
13927,Hartigan,94616,05/19/2015 12:00:00 AM,14.0,24.0,18.3,NaN,NaN
2210,North Avenue,94611,05/19/2015 12:00:00 AM,17.0,6.0,10.1,NaN,NaN
5143,Rogers,94620,05/19/2015 12:00:00 AM,5.0,3.0,3.9,NaN,NaN
16797,Margaret T Burroughs,94606,05/19/2015 12:00:00 AM,10.0,2420.0,155.6,NaN,NaN
14695,Oakwood,94605,05/19/2015 12:00:00 AM,3.0,4.0,3.5,NaN,NaN
2081,12th Street,94607,05/19/2015 12:00:00 AM,1203.0,14.0,129.8,NaN,NaN
7376,Leone,94617,05/19/2015 12:00:00 AM,17.0,21.0,18.9,NaN,NaN
6509,Howard,94619,05/19/2015 12:00:00 AM,5.0,5.0,5.0,NaN,NaN
2442,Rainbow,110147,05/19/2009 12:00:00 AM,13.2,1.0,3.6,NaN,NaN
16832,Oakwood,110151,05/19/2009 12:00:00 AM,18.5,2.0,6.1,NaN,NaN
15938,Margaret T Burroughs,110152,05/19/2009 12:00:00 AM,16.1,1.0,4.0,NaN,NaN
12987,12th Street,110153,05/19/2009 12:00:00 AM,2.0,11.0,4.7,NaN,NaN
11270,63rd Street,110149,05/19/2009 12:00:00 AM,461.1,298.7,371.1,NaN,NaN
1405,57th Street,110150,05/19/2009 12:00:00 AM,7.5,5.2,6.2,NaN,NaN
8548,Calumet,110146,05/19/2009 12:00:00 AM,6.3,13.4,9.2,NaN,NaN
11199,South Shore,110148,05/19/2009 12:00:00 AM,1.0,1.0,1.0,NaN,NaN
16288,Oakwood,99865,05/11/2009 12:00:00 AM,3.1,5.1,4.0,NaN,NaN
10032,57th Street,112621,03/25/2016 02:50:00 PM,NaN,NaN,1.0,10.0,03/25/2016 03:00:00 PM

In [44]:
def update_bogus_timestamp(timestamp):
    if str(timestamp).lower() == 'nan':
        return None
    the_date = timestamp.split(' ')[0]
    year = the_date.split('/')[2]
    if year == '0016':
        updated_timestamp = '/'.join([timestamp.split('/')[0], timestamp.split('/')[1], '2016']) + ' ' + timestamp.split(' ')[1]
        timestamp = updated_timestamp
    return pd.to_datetime(timestamp)
update_bogus_timestamp('09/25/0016 10:00:00 AM')

Timestamp('2016-09-25 10:00:00')

In [45]:
culture_readings['sample_1_timestamp'] = culture_readings['Culture Sample 1 Timestamp'].apply(update_bogus_timestamp)
culture_readings['sample_2_timestamp'] = culture_readings['Culture Sample 2 Timestamp'].apply(update_bogus_timestamp)
culture_readings.head()

d:\opengov\beaches2017\notebooks\venv-beach-nb\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
d:\opengov\beaches2017\notebooks\venv-beach-nb\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN,2007-05-29,None
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN,2014-06-18,None
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN,2009-07-15,None
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN,2015-08-21,None
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,2011-06-21,None

In [46]:
culture_readings

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN,2007-05-29 00:00:00,None
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN,2014-06-18 00:00:00,None
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN,2009-07-15 00:00:00,None
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN,2015-08-21 00:00:00,None
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,2011-06-21 00:00:00,None
381,Foster,98174,06/07/2007 12:00:00 AM,38.4,27.2,32.3,NaN,NaN,2007-06-07 00:00:00,None
382,Montrose,113691,08/05/2016 08:35:00 AM,411.0,1733.0,844.0,1.0,08/05/2016 08:36:00 AM,2016-08-05 08:35:00,2016-08-05 08:36:00
383,Foster,110739,08/09/2012 12:00:00 AM,17.3,25.6,21.0,NaN,NaN,2012-08-09 00:00:00,None
384,Juneway,101039,08/20/2007 12:00:00 AM,579.4,307.6,422.2,NaN,NaN,2007-08-20 00:00:00,None
385,63rd Street,88385,07/22/2010 12:00:00 AM,29.1,25.3,27.1,NaN,NaN,2010-07-22 00:00:00,None
386,12th Street,87602,06/21/2010 12:00:00 AM,648.8,613.1,630.7,NaN,NaN,2010-06-21 00:00:00,None
387,Foster,99572,08/31/2007 12:00:00 AM,91.0,86.2,88.6,NaN,NaN,2007-08-31 00:00:00,None
388,Osterman,108975,05/24/2013 12:00:00 AM,110.6,69.7,87.8,NaN,NaN,2013-05-24 00:00:00,None
389,Juneway,110191,05/20/2009 12:00:00 AM,13.5,13.5,13.5,NaN,NaN,2009-05-20 00:00:00,None
390,Foster,88954,08/10/2009 12:00:00 AM,18.5,26.2,22.0,NaN,NaN,2009-08-10 00:00:00,None
391,Ohio Street,91625,07/02/2009 12:00:00 AM,6.3,13.1,9.1,NaN,NaN,2009-07-02 00:00:00,None
392,Montrose,106100,07/23/2013 12:00:00 AM,44.0,25.0,33.2,NaN,NaN,2013-07-23 00:00:00,None
393,Foster,94436,08/05/2014 12:00:00 AM,77.0,37.0,53.4,NaN,NaN,2014-08-05 00:00:00,None
394,Leone,88657,08/04/2010 12:00:00 AM,72.3,90.9,81.1,NaN,NaN,2010-08-04 00:00:00,None
395,North Avenue,92301,07/31/2009 12:00:00 AM,5.2,6.3,5.7,NaN,NaN,2009-07-31 00:00:00,None
396,Leone,107883,08/06/2013 12:00:00 AM,16.0,17.0,16.5,NaN,NaN,2013-08-06 00:00:00,None
397,Juneway,113527,07/26/2016 08:50:00 AM,37.0,22.0,28.5,1.0,07/26/2016 08:51:00 AM,2016-07-26 08:50:00,2016-07-26 08:51:00
398,63rd Street,88465,07/26/2010 12:00:00 AM,88.4,127.4,106.1,NaN,NaN,2010-07-26 00:00:00,None
399,Oak Street,94106,09/09/2014 12:00:00 AM,22.0,17.0,19.3,NaN,NaN,2014-09-09 00:00:00,None
400,Rainbow,96505,07/13/2011 12:00:00 AM,579.4,285.1,406.4,NaN,NaN,2011-07-13 00:00:00,None
401,South Shore,91023,07/16/2009 12:00:00 AM,86.0,16.0,37.1,NaN,NaN,2009-07-16 00:00:00,None
402,Montrose,112231,05/26/2012 12:00:00 AM,770.0,1153.1,942.3,NaN,NaN,2012-05-26 00:00:00,None
403,Montrose,107028,07/31/2013 12:00:00 AM,4.0,43.0,13.1,NaN,NaN,2013-07-31 00:00:00,None
404,Calumet,90418,07/05/2011 12:00:00 AM,45.7,17.3,28.1,NaN,NaN,2011-07-05 00:00:00,None
405,Juneway,102979,08/24/2006 12:00:00 AM,45.0,86.2,62.3,NaN,NaN,2006-08-24 00:00:00,None
...,...,...,...,...,...,...,...,...,...,...
17973,Marion Mahony Griffin,98255,07/19/2006 12:00:00 AM,25.3,24.1,24.7,NaN,NaN,2006-07-19 00:00:00,None
17974,Marion Mahony Griffin,109667,06/30/2014 12:00:00 AM,23.0,29.0,25.8,NaN,NaN,2014-06-30 00:00:00,None
17975,Marion Mahony Griffin,90487,06/01/2011 12:00:00 AM,15.6,30.5,21.8,NaN,NaN,2011-06-01 00:00:00,None
17976,Marion Mahony Griffin,106148,07/25/2013 12:00:00 AM,36.0,38.0,37.0,NaN,NaN,2013-07-25 00:00:00,None
17977,Marion Mahony Griffin,91773,07/08/2009 12:00:00 AM,29.5,37.9,33.4,NaN,NaN,2009-07-08 00:00:00,None
17978,Marion Mahony Griffin,89545,05/31/2011 12:00:00 AM,14.4,16.1,15.2,NaN,NaN,2011-05-31 00:00:00,None
17979,Marion Mahony Griffin,105131,08/16/2012 12:00:00 AM,285.1,461.1,362.6,NaN,NaN,2012-08-16 00:00:00,None
17980,Marion Mahony Griffin,107348,07/02/2012 12:00:00 AM,9.8,3.0,5.4,NaN,NaN,2012-07-02 00:00:00,None
17981,Marion Mahony Griffin,108209,05/20/2014 12:00:00 AM,14.5,12.2,13.3,NaN,NaN,2014-05-20 00:00:00,None
17982,Marion Mahony Griffin,106712,06/26/2014 12:00:00 AM,38.0,21.0,28.2,NaN,NaN,2014-06-26 00:00:00,None
17983,Marion Mahony Griffin,109542,06/18/2015 12:00:00 AM,2.0,8.0,4.0,NaN,NaN,2015-06-18 00:00:00,None
17984,Marion Mahony Griffin,89746,08/17/2010 12:00:00 AM,139.6,141.4,140.5,NaN,NaN,2010-08-17 00:00:00,None
17985,Marion Mahony Griffin,106016,07/19/2013 12:00:00 AM,51.0,39.0,44.6,NaN,NaN,2013-07-19 00:00:00,None
17986,Marion Mahony Griffin,109014,05/31/2013 12:00:00 AM,11.0,13.0,12.0,NaN,NaN,2013-05-31 00:00:00,None
17987,Marion Mahony Griffin,91405,06/22/2009 12:00:00 AM,15.8,4.1,8.0,NaN,NaN,2009-06-22 00:00:00,None
17988,Marion Mahony Griffin,104107,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None
17989,Marion Mahony Griffin,98089,08/15/2006 12:00:00 AM,35.5,8.6,17.5,NaN,NaN,2006-08-15 00:00:00,None
17990,Marion Mahony Griffin,104761,07/03/2006 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,2006-07-03 00:00:00,None
17991,Marion Mahony Griffin,109337,08/12/2013 12:00:00 AM,27.0,36.0,31.2,NaN,NaN,2013-08-12 00:00:00,None
17992,Marion Mahony Griffin,105626,07/02/2013 12:00:00 AM,54.0,50.0,52.0,NaN,NaN,2013-07-02 00:00:00,None
17993,Marion Mahony Griffin,92723,08/08/2014 12:00:00 AM,23.0,43.0,31.4,NaN,NaN,2014-08-08 00:00:00,None
17994,Marion Mahony Griffin,101909,06/03/2009 12:00:00 AM,62.0,26.9,40.8,NaN,NaN,2009-06-03 00:00:00,None
17995,Marion Mahony Griffin,88050,05/26/2010 12:00:00 AM,2.0,62.4,11.2,NaN,NaN,2010-05-26 00:00:00,None
17996,Marion Mahony Griffin,109563,06/19/2015 12:00:00 AM,47.0,96.0,67.2,NaN,NaN,2015-06-19 00:00:00,None
17997,Marion Mahony Griffin,102532,08/26/2008 12:00:00 AM,17.3,12.1,14.5,NaN,NaN,2008-08-26 00:00:00,None
17998,Marion Mahony Griffin,87551,06/18/2010 12:00:00 AM,24.3,17.3,20.5,NaN,NaN,2010-06-18 00:00:00,None
17999,Marion Mahony Griffin,95444,08/27/2015 12:00:00 AM,11.0,10.0,10.5,NaN,NaN,2015-08-27 00:00:00,None
18000,Marion Mahony Griffin,98453,06/19/2007 12:00:00 AM,8.6,14.6,11.2,NaN,NaN,2007-06-19 00:00:00,None
18001,Marion Mahony Griffin,90194,06/24/2011 12:00:00 AM,3.1,3.1,3.1,NaN,NaN,2011-06-24 00:00:00,None
18002,Marion Mahony Griffin,91474,06/25/2009 12:00:00 AM,10.9,17.1,13.7,NaN,NaN,2009-06-25 00:00:00,None

In [48]:
culture_readings['sample'] = culture_readings['Culture Sample 1 Reading']
culture_readings.head()

d:\opengov\beaches2017\notebooks\venv-beach-nb\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp,sample
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN,2007-05-29,None,16.0
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN,2014-06-18,None,4.0
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN,2009-07-15,None,167.0
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN,2015-08-21,None,3.0
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,2011-06-21,None,3.0

In [49]:
culture_readings.loc[culture_readings['sample'].isnull()]

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp,sample
431,Calumet,102724,05/26/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-05-26,None,NaN
653,12th Street,97884,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
683,Howard,111419,06/07/2012 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2012-06-07,None,NaN
885,Leone,104106,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
951,Oak Street,97552,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
1153,12th Street,97550,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
1210,Montrose,104099,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
1273,Rogers,97899,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
1554,Rogers,108736,07/16/2012 12:00:00 AM,NaN,2.0,1.4,NaN,NaN,2012-07-16,None,NaN
1637,Osterman,106425,06/19/2012 12:00:00 AM,NaN,3.1,1.8,NaN,NaN,2012-06-19,None,NaN
1702,57th Street,110440,07/08/2014 12:00:00 AM,NaN,2420.0,49.2,NaN,NaN,2014-07-08,None,NaN
1811,Calumet,97543,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
2190,Howard,97762,07/12/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-12,None,NaN
2411,63rd Street,97880,07/05/2006 12:00:00 AM,NaN,24.6,5.0,NaN,NaN,2006-07-05,None,NaN
2481,Foster,106402,06/18/2012 12:00:00 AM,NaN,3.0,1.7,NaN,NaN,2012-06-18,None,NaN
2503,Ohio Street,104096,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
3066,Osterman,97558,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
3261,Rogers,104110,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
3459,North Avenue,97887,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
3473,63rd Street,97546,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
3901,Leone,111417,06/07/2012 12:00:00 AM,NaN,4.1,2.0,NaN,NaN,2012-06-07,None,NaN
4258,Leone,97895,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
4430,57th Street,97547,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
4451,North Avenue,104098,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
4593,Calumet,104790,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
5449,Osterman,104101,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
5621,Rainbow,102773,07/22/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-22,None,NaN
5808,Ohio Street,97885,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
6284,Foster,97557,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
6466,Osterman,97890,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
12363,Foster,97889,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
12450,Foster,104100,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
12886,Rogers,97563,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
13171,Rainbow,104791,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
13384,Oakwood,106047,07/21/2013 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2013-07-21,None,NaN
13653,Columbia,97894,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
13773,North Shore,97757,07/12/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-12,None,NaN
13804,Hartigan,97892,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
13893,Margaret T Burroughs,97883,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
14077,North Shore,104104,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
14243,Margaret T Burroughs,97549,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
14273,Columbia,104105,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
14488,Margaret T Burroughs,104094,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
14957,Lane,97891,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
14986,Lane,97804,07/14/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-14,None,NaN
15197,Oakwood,97548,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
15585,Loyola,98253,07/19/2006 12:00:00 AM,NaN,4.0,2.0,NaN,NaN,2006-07-19,None,NaN
15689,Lane,104102,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
16256,Margaret T Burroughs,103310,07/29/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-29,None,NaN
16348,Lane,97877,07/17/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-17,None,NaN
16405,Hartigan,97559,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
16593,Hartigan,104103,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN
16638,North Shore,97893,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
16778,Margaret T Burroughs,106048,07/21/2013 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2013-07-21,None,NaN
16859,Montrose Dog,97555,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
17383,Marion Mahony Griffin,111418,06/07/2012 12:00:00 AM,NaN,235.9,15.4,NaN,NaN,2012-06-07,None,NaN
17442,Marion Mahony Griffin,111440,06/08/2012 12:00:00 AM,NaN,3.1,1.8,NaN,NaN,2012-06-08,None,NaN
17557,Marion Mahony Griffin,97896,07/05/2006 12:00:00 AM,NaN,1.0,1.0,NaN,NaN,2006-07-05,None,NaN
17656,Marion Mahony Griffin,97561,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12,None,NaN
17988,Marion Mahony Griffin,104107,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09,None,NaN

In [50]:
culture_readings.loc[culture_readings['sample'].isnull(), 'sample'] = culture_readings.loc[culture_readings['sample'].isnull(), 'Culture Sample 2 Reading']

d:\opengov\beaches2017\notebooks\venv-beach-nb\lib\site-packages\pandas\core\indexing.py:477: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self.obj[item] = s

In [51]:
culture_readings.loc[culture_readings['sample'].isnull()]

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp,sample
431,Calumet,102724,05/26/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-05-26 00:00:00,None,NaN
683,Howard,111419,06/07/2012 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2012-06-07 00:00:00,None,NaN
885,Leone,104106,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
951,Oak Street,97552,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
1153,12th Street,97550,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
1210,Montrose,104099,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
1811,Calumet,97543,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
2190,Howard,97762,07/12/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-12 00:00:00,None,NaN
2503,Ohio Street,104096,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
3066,Osterman,97558,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
3261,Rogers,104110,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
3473,63rd Street,97546,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
4430,57th Street,97547,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
4451,North Avenue,104098,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
5449,Osterman,104101,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
5621,Rainbow,102773,07/22/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-22 00:00:00,None,NaN
6284,Foster,97557,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
6526,Calumet,98574,06/10/2007 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2007-06-10 00:00:00,None,NaN
6760,Juneway,104111,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
6771,Howard,97562,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
6819,Juneway,97564,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
7757,Montrose,97556,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
8008,Rainbow,97544,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
8111,57th Street,104092,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
8369,Ohio Street,111147,06/16/2013 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2013-06-16 00:00:00,None,NaN
8619,Ohio Street,97551,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
9092,Rogers,111442,06/08/2012 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2012-06-08 00:00:00,None,NaN
9173,12th Street,104095,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
9443,Osterman,111415,06/07/2012 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2012-06-07 00:00:00,None,NaN
9679,Rainbow,104089,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
...,...,...,...,...,...,...,...,...,...,...,...
9873,North Avenue,97554,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
9987,Oak Street,104097,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
10032,57th Street,112621,03/25/2016 02:50:00 PM,NaN,NaN,1.0,10.0,03/25/2016 03:00:00 PM,2016-03-25 14:50:00,2016-03-25 15:00:00,NaN
10463,Howard,106407,06/18/2012 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2012-06-18 00:00:00,None,NaN
10617,63rd Street,104091,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
10700,South Shore,97545,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
10825,South Shore,104090,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
10840,Ohio Street,98674,06/14/2007 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2007-06-14 00:00:00,None,NaN
11261,Leone,97560,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
11629,Calumet,98551,06/09/2007 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2007-06-09 00:00:00,None,NaN
11945,Howard,104109,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
12450,Foster,104100,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
12886,Rogers,97563,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
13384,Oakwood,106047,07/21/2013 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2013-07-21 00:00:00,None,NaN
13773,North Shore,97757,07/12/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-12 00:00:00,None,NaN
14077,North Shore,104104,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
14243,Margaret T Burroughs,97549,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
14273,Columbia,104105,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
14488,Margaret T Burroughs,104094,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
14986,Lane,97804,07/14/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-14 00:00:00,None,NaN
15197,Oakwood,97548,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
15689,Lane,104102,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
16256,Margaret T Burroughs,103310,07/29/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-29 00:00:00,None,NaN
16348,Lane,97877,07/17/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-07-17 00:00:00,None,NaN
16405,Hartigan,97559,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
16593,Hartigan,104103,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN
16778,Margaret T Burroughs,106048,07/21/2013 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2013-07-21 00:00:00,None,NaN
16859,Montrose Dog,97555,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
17656,Marion Mahony Griffin,97561,06/12/2011 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2011-06-12 00:00:00,None,NaN
17988,Marion Mahony Griffin,104107,06/09/2006 12:00:00 AM,NaN,NaN,1.0,NaN,NaN,2006-06-09 00:00:00,None,NaN

In [52]:
culture_readings = culture_readings.loc[~culture_readings['sample'].isnull()]
culture_readings.head()

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp,sample
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN,2007-05-29,None,16.0
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN,2014-06-18,None,4.0
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN,2009-07-15,None,167.0
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN,2015-08-21,None,3.0
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,2011-06-21,None,3.0

In [53]:
culture_readings

,Beach,Culture Test ID,Culture Sample 1 Timestamp,Culture Sample 1 Reading,Culture Sample 2 Reading,Culture Reading Mean,Culture Sample Interval,Culture Sample 2 Timestamp,sample_1_timestamp,sample_2_timestamp,sample
376,South Shore,103919,05/29/2007 12:00:00 AM,16.0,6.3,10.0,NaN,NaN,2007-05-29 00:00:00,None,16.0
377,Howard,110945,06/18/2014 12:00:00 AM,4.0,4.0,4.0,NaN,NaN,2014-06-18 00:00:00,None,4.0
378,12th Street,91005,07/15/2009 12:00:00 AM,167.0,178.9,172.8,NaN,NaN,2009-07-15 00:00:00,None,167.0
379,Juneway,95216,08/21/2015 12:00:00 AM,3.0,1.0,1.7,NaN,NaN,2015-08-21 00:00:00,None,3.0
380,Calumet,90110,06/21/2011 12:00:00 AM,3.0,2.0,2.4,NaN,NaN,2011-06-21 00:00:00,None,3.0
381,Foster,98174,06/07/2007 12:00:00 AM,38.4,27.2,32.3,NaN,NaN,2007-06-07 00:00:00,None,38.4
382,Montrose,113691,08/05/2016 08:35:00 AM,411.0,1733.0,844.0,1.0,08/05/2016 08:36:00 AM,2016-08-05 08:35:00,2016-08-05 08:36:00,411.0
383,Foster,110739,08/09/2012 12:00:00 AM,17.3,25.6,21.0,NaN,NaN,2012-08-09 00:00:00,None,17.3
384,Juneway,101039,08/20/2007 12:00:00 AM,579.4,307.6,422.2,NaN,NaN,2007-08-20 00:00:00,None,579.4
385,63rd Street,88385,07/22/2010 12:00:00 AM,29.1,25.3,27.1,NaN,NaN,2010-07-22 00:00:00,None,29.1
386,12th Street,87602,06/21/2010 12:00:00 AM,648.8,613.1,630.7,NaN,NaN,2010-06-21 00:00:00,None,648.8
387,Foster,99572,08/31/2007 12:00:00 AM,91.0,86.2,88.6,NaN,NaN,2007-08-31 00:00:00,None,91.0
388,Osterman,108975,05/24/2013 12:00:00 AM,110.6,69.7,87.8,NaN,NaN,2013-05-24 00:00:00,None,110.6
389,Juneway,110191,05/20/2009 12:00:00 AM,13.5,13.5,13.5,NaN,NaN,2009-05-20 00:00:00,None,13.5
390,Foster,88954,08/10/2009 12:00:00 AM,18.5,26.2,22.0,NaN,NaN,2009-08-10 00:00:00,None,18.5
391,Ohio Street,91625,07/02/2009 12:00:00 AM,6.3,13.1,9.1,NaN,NaN,2009-07-02 00:00:00,None,6.3
392,Montrose,106100,07/23/2013 12:00:00 AM,44.0,25.0,33.2,NaN,NaN,2013-07-23 00:00:00,None,44.0
393,Foster,94436,08/05/2014 12:00:00 AM,77.0,37.0,53.4,NaN,NaN,2014-08-05 00:00:00,None,77.0
394,Leone,88657,08/04/2010 12:00:00 AM,72.3,90.9,81.1,NaN,NaN,2010-08-04 00:00:00,None,72.3
395,North Avenue,92301,07/31/2009 12:00:00 AM,5.2,6.3,5.7,NaN,NaN,2009-07-31 00:00:00,None,5.2
396,Leone,107883,08/06/2013 12:00:00 AM,16.0,17.0,16.5,NaN,NaN,2013-08-06 00:00:00,None,16.0
397,Juneway,113527,07/26/2016 08:50:00 AM,37.0,22.0,28.5,1.0,07/26/2016 08:51:00 AM,2016-07-26 08:50:00,2016-07-26 08:51:00,37.0
398,63rd Street,88465,07/26/2010 12:00:00 AM,88.4,127.4,106.1,NaN,NaN,2010-07-26 00:00:00,None,88.4
399,Oak Street,94106,09/09/2014 12:00:00 AM,22.0,17.0,19.3,NaN,NaN,2014-09-09 00:00:00,None,22.0
400,Rainbow,96505,07/13/2011 12:00:00 AM,579.4,285.1,406.4,NaN,NaN,2011-07-13 00:00:00,None,579.4
401,South Shore,91023,07/16/2009 12:00:00 AM,86.0,16.0,37.1,NaN,NaN,2009-07-16 00:00:00,None,86.0
402,Montrose,112231,05/26/2012 12:00:00 AM,770.0,1153.1,942.3,NaN,NaN,2012-05-26 00:00:00,None,770.0
403,Montrose,107028,07/31/2013 12:00:00 AM,4.0,43.0,13.1,NaN,NaN,2013-07-31 00:00:00,None,4.0
404,Calumet,90418,07/05/2011 12:00:00 AM,45.7,17.3,28.1,NaN,NaN,2011-07-05 00:00:00,None,45.7
405,Juneway,102979,08/24/2006 12:00:00 AM,45.0,86.2,62.3,NaN,NaN,2006-08-24 00:00:00,None,45.0
...,...,...,...,...,...,...,...,...,...,...,...
17972,Marion Mahony Griffin,102695,05/24/2006 12:00:00 AM,12.1,7.4,9.5,NaN,NaN,2006-05-24 00:00:00,None,12.1
17973,Marion Mahony Griffin,98255,07/19/2006 12:00:00 AM,25.3,24.1,24.7,NaN,NaN,2006-07-19 00:00:00,None,25.3
17974,Marion Mahony Griffin,109667,06/30/2014 12:00:00 AM,23.0,29.0,25.8,NaN,NaN,2014-06-30 00:00:00,None,23.0
17975,Marion Mahony Griffin,90487,06/01/2011 12:00:00 AM,15.6,30.5,21.8,NaN,NaN,2011-06-01 00:00:00,None,15.6
17976,Marion Mahony Griffin,106148,07/25/2013 12:00:00 AM,36.0,38.0,37.0,NaN,NaN,2013-07-25 00:00:00,None,36.0
17977,Marion Mahony Griffin,91773,07/08/2009 12:00:00 AM,29.5,37.9,33.4,NaN,NaN,2009-07-08 00:00:00,None,29.5
17978,Marion Mahony Griffin,89545,05/31/2011 12:00:00 AM,14.4,16.1,15.2,NaN,NaN,2011-05-31 00:00:00,None,14.4
17979,Marion Mahony Griffin,105131,08/16/2012 12:00:00 AM,285.1,461.1,362.6,NaN,NaN,2012-08-16 00:00:00,None,285.1
17980,Marion Mahony Griffin,107348,07/02/2012 12:00:00 AM,9.8,3.0,5.4,NaN,NaN,2012-07-02 00:00:00,None,9.8
17981,Marion Mahony Griffin,108209,05/20/2014 12:00:00 AM,14.5,12.2,13.3,NaN,NaN,2014-05-20 00:00:00,None,14.5
17982,Marion Mahony Griffin,106712,06/26/2014 12:00:00 AM,38.0,21.0,28.2,NaN,NaN,2014-06-26 00:00:00,None,38.0
17983,Marion Mahony Griffin,109542,06/18/2015 12:00:00 AM,2.0,8.0,4.0,NaN,NaN,2015-06-18 00:00:00,None,2.0
17984,Marion Mahony Griffin,89746,08/17/2010 12:00:00 AM,139.6,141.4,140.5,NaN,NaN,2010-08-17 00:00:00,None,139.6
17985,Marion Mahony Griffin,106016,07/19/2013 12:00:00 AM,51.0,39.0,44.6,NaN,NaN,2013-07-19 00:00:00,None,51.0
17986,Marion Mahony Griffin,109014,05/31/2013 12:00:00 AM,11.0,13.0,12.0,NaN,NaN,2013-05-31 00:00:00,None,11.0
17987,Marion Mahony Griffin,91405,06/22/2009 12:00:00 AM,15.8,4.1,8.0,NaN,NaN,2009-06-22 00:00:00,None,15.8
17989,Marion Mahony Griffin,98089,08/15/2006 12:00:00 AM,35.5,8.6,17.5,NaN,NaN,2006-08-15 00:00:00,None,35.5
17990,Marion Mahony Griffin,104761,07/03/2006 12:00:00 AM,0.0,0.0,NaN,NaN,NaN,2006-07-03 00:00:00,None,0.0
17991,Marion Mahony Griffin,109337,08/12/2013 12:00:00 AM,27.0,36.0,31.2,NaN,NaN,2013-08-12 00:00:00,None,27.0
17992,Marion Mahony Griffin,105626,07/02/2013 12:00:00 AM,54.0,50.0,52.0,NaN,NaN,2013-07-02 00:00:00,None,54.0
17993,Marion Mahony Griffin,92723,08/08/2014 12:00:00 AM,23.0,43.0,31.4,NaN,NaN,2014-08-08 00:00:00,None,23.0
17994,Marion Mahony Griffin,101909,06/03/2009 12:00:00 AM,62.0,26.9,40.8,NaN,NaN,2009-06-03 00:00:00,None,62.0
17995,Marion Mahony Griffin,88050,05/26/2010 12:00:00 AM,2.0,62.4,11.2,NaN,NaN,2010-05-26 00:00:00,None,2.0
17996,Marion Mahony Griffin,109563,06/19/2015 12:00:00 AM,47.0,96.0,67.2,NaN,NaN,2015-06-19 00:00:00,None,47.0
17997,Marion Mahony Griffin,102532,08/26/2008 12:00:00 AM,17.3,12.1,14.5,NaN,NaN,2008-08-26 00:00:00,None,17.3
17998,Marion Mahony Griffin,87551,06/18/2010 12:00:00 AM,24.3,17.3,20.5,NaN,NaN,2010-06-18 00:00:00,None,24.3
17999,Marion Mahony Griffin,95444,08/27/2015 12:00:00 AM,11.0,10.0,10.5,NaN,NaN,2015-08-27 00:00:00,None,11.0
18000,Marion Mahony Griffin,98453,06/19/2007 12:00:00 AM,8.6,14.6,11.2,NaN,NaN,2007-06-19 00:00:00,None,8.6
18001,Marion Mahony Griffin,90194,06/24/2011 12:00:00 AM,3.1,3.1,3.1,NaN,NaN,2011-06-24 00:00:00,None,3.1
18002,Marion Mahony Griffin,91474,06/25/2009 12:00:00 AM,10.9,17.1,13.7,NaN,NaN,2009-06-25 00:00:00,None,10.9