In [1]:
import pandas as pd
import matplotlib as plt
%matplotlib inline

In [2]:
swim_advisories = pd.read_csv('data/Beach_Swim_Advisories.csv')
swim_advisories.head()

,Beach Name,Date,Predicted Level,Probability,Swim Advisory,RecordID
0,Calumet,06/04/2016,33.8,0.107,N,Calumet20160604
1,63rdStreet,06/04/2016,33.6,0.106,N,63rdStreet20160604
2,OakStreet,06/04/2016,18.9,0.018,N,OakStreet20160604
3,Foster,06/04/2016,14.9,0.021,N,Foster20160604
4,Montrose,06/04/2016,101.5,0.277,N,Montrose20160604

In [3]:
del swim_advisories['RecordID']

In [6]:
beach_samples = pd.read_csv('data/Beach_Lab_Data.csv')
beach_samples = beach_samples.loc[~beach_samples['Beach'].isnull()]
beach_samples = beach_samples[['Culture Sample 1 Timestamp', 'Beach', 'Culture Reading Mean']]
beach_samples.head()

    Culture Sample 1 Timestamp        Beach  Culture Reading Mean
376     05/29/2007 12:00:00 AM  South Shore                  10.0
377     06/18/2014 12:00:00 AM       Howard                   4.0
378     07/15/2009 12:00:00 AM  12th Street                 172.8
379     08/21/2015 12:00:00 AM      Juneway                   1.7
380     06/21/2011 12:00:00 AM      Calumet                   2.4

In [9]:
def get_date_str(timestamp):
    the_date = timestamp.split(' ')[0]
    if the_date.split('/')[2] == '0016':
        the_date = '/'.join([the_date.split('/')[0], the_date.split('/')[1], '2016'])
    return the_date

beach_samples['date'] = beach_samples['Culture Sample 1 Timestamp'].apply(get_date_str)
beach_samples.head()

    Culture Sample 1 Timestamp        Beach  Culture Reading Mean        date
376     05/29/2007 12:00:00 AM  South Shore                  10.0  05/29/2007
377     06/18/2014 12:00:00 AM       Howard                   4.0  06/18/2014
378     07/15/2009 12:00:00 AM  12th Street                 172.8  07/15/2009
379     08/21/2015 12:00:00 AM      Juneway                   1.7  08/21/2015
380     06/21/2011 12:00:00 AM      Calumet                   2.4  06/21/2011